.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px;
  min-height: 40px;
  color: rgb(172, 172, 172);
}

.links {
  display: flex;
  .a {
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: #666;
    }
  }
}

.counter {
  font-size: 20px;
}

@media print {
  .footer {
    display: none;
  }
}

@media screen and (max-width: 586px) {
  .footer {
    flex-direction: column;
    padding: 5px 20px;
    div {
      font-size: 17px;
    }
    .links a {
      font-size: 17px;
    }
  }
}


@media screen and (max-width: 468px) {
  .footer {
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .footer {
    min-height: 30px;
    padding: 0;
  }
  .links {
    display: none;
  }
}
