.header {
  display: flex;
  justify-content: flex-end;
  padding: 0 40px;
  background-color: #333;
  border-bottom: 1px solid #111;
  .text {
    font-size: 20px;
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
    line-height: 60px;
    margin-left: 10px;
  }
}

.clearList {
  width: 125px;
  margin-right: 35px;
  display: flex;
  align-items: center;
  &:hover {
    .clearIcon {
      color: #fff;
      border-color: #fff;
    }
    .text {
      color: #fff;
    }
  }
}

.clearIcon {
  height: 30px;
  width: 30px;
  background-color: #333;
  border: 0.5px solid #ccc;
  border-radius: 50%;
  font-size: 15px;
  color: #ccc;
  outline: none;
  cursor: pointer;
  &::before {
    content: "\f1f8";
    font-family: FontAwesome;
  }
}

.printList {
  width: 85px;
  display: flex;
  align-items: center;
  &:hover {
    .printIcon {
      color: #fff;
      border-color: #fff;
    }
    .text {
      color: #fff;
    }
  }
}

.printIcon {
  height: 30px;
  width: 30px;
  background-color: #333;
  border: 0.5px solid #ccc;
  border-radius: 50%;
  font-size: 15px;
  color: #ccc;
  outline: none;
  cursor: pointer;
  &::before {
    content: "\f02f";
    font-family: FontAwesome;
  }
}

@media print {
  .header {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .root .header {
    padding: 0 20px;
  }
  .printList .text, .clearList .text  {
    line-height: 50px;
  }
}
