@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), url(../src/fonts/OpenSans_Regular.ttf);
}

@font-face {
    font-family: "Open Sans Light";
    src: local("Open Sans Light"), url(../src/fonts/OpenSans_Light.ttf);
}
