.additional_prizes {
    width: 100%;
    margin: 120px 0 20px 0;
    .wrapper_content {
        display: flex;
        align-items: center;
        flex-direction: column;
        .button {
            @include yellow_button;
            margin-top: 20px;
        }
    }
}

.prizes {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.prize_box {
    width: 280px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.prize_photo {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-image: url('img/additional-prizes.png');
    background-repeat: no-repeat;
    &:hover {
        animation: rotate 0.4s ease;
    }
}

@keyframes rotate {
    from {transform: rotate(0);}
    to {transform: rotate(720deg);}
}

.first_prize{
    background-position: 0 0;
    margin-right: 0;
};

.second_prize{
        background-position: -324px 0;
};

.third_prize{
        background-position: -649px 0;
};

.addtextbox {
    display: flex;
    justify-content: space-between;
    width: 260px;
    height: 50px;
    align-items: center;
}

.quantity {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-weight: $FW + 300;
    color: $LIGHT_COLOR;
    background-color: #dc007c;
    line-height: 40px;
}

.addprize_text {
    max-width: 210px;
    text-align: left;
    color: $DARK_COLOR;
}
