.landscape {
    width: 100%;
    height: 700px;
    .wrapper_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        .button {
            @include yellow_button;
        }
    }
}

.logo {
    height: 81px;
    width: 215px;
    background-image: url('img/mila_logo.png');
    background-repeat: no-repeat;
    margin: 15px 0;
}

.subtext {
    color: $LIGHT_COLOR;
    font-size: $FS;
}

.main_bg {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 700px;
    background-image: url('img/mila_game.jpg');
    background-position-x: 73%;
    background-size: cover;
}
