.rules {
    margin: 50px 0 80px 0;
    .wrapper_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .rules_content {
            display: flex;
            flex-direction: column;
            max-width: 471px;
            text-align: left;
            h2 {
                margin: 0 0 5px 0;
            }
        }
        .cleanic_photo {
            height: 180px;
            width: 282px;
            background-image: url('img/mila_products.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

.midtext {
    color: $DARK_COLOR;
    font-size: $FS;
}

.anketa {
    width: 198px;
    background-color: $BLUE_COLOR;
    border: 1px solid darken($BLUE_COLOR, 15%);
    text-align: center;
    color: $LIGHT_COLOR;
    transition: background-color 0.3s linear;
    margin-top: 20px;
    &:hover {
        background-color: darken($BLUE_COLOR, 10%);
        border: 1px solid darken($BLUE_COLOR, 25%);
        }
}
